#font{
    font-family: 'Akronim', cursive;
    color: red;
}
.container{
    text-align: center;
    margin-top: 3%;
    background: fixed;
}
.row{
    padding: 20px;
} 
#push{
    justify-content: space-between;
    margin-right: 10px;
    width: 45%;
    background: transparent;
}
.score{
    font-size: 80px;
}
#row{
    display: none;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg'); background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1{
    font-size: 100px;
    color: blue;
}
