#font{
    font-family: 'Akronim', cursive;
    color: red;
    margin-top: -200px;
}
.container{
    text-align: center;
    margin-top: 3%;
    background: fixed;
}
.row{
    padding: 20px;
} 
#push{
    justify-content: space-between;
    margin-right: 10px;
    width: 45%;
    background: transparent;
}
.score{
    font-size: 80px;
}
#row{
    display: none;
  
}
#push{ 
    /* background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg'); */
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
h1{
    font-size: 100px;
    color: blue;
}
#colo{
    color: blueviolet;
}

#fon{
    font-family: 'Modak', cursive;
    font-size: 40px;
}
.play{
    padding-bottom: 200px;
}
#h3{
    font-family: 'Stylish', sans-serif;
    font-size: 60px;
    padding-bottom: 50px;
    text-align: center;
    color: blue;
}
#rules{
    text-align: center;
    display: none;
    font-family: 'Yeon Sung', cursive;
    margin: 10%;
    margin-top: -10px;
    color: red;
    font-size: 20px;
}
#ru{
    text-align: center;
}

